h2 { 
    font-size: 1.5rem; 
    color: #2f8d46; 
    text-align: center; 
} 

Body{
    background: rgb(144, 179, 217), green, blue;
    background-color: rgb(144, 179, 217);
}

p { 
    font-variant: italic; 
} 
nav{
    text-align: center;
}
