
		<nav>
			<a href="./">Home</a>
			||
			<a href="introduction.html">Introduction</a>
			||
			<a href="contract.html">Contract</a>
			||
			<a href="Tables.html">Tables</a>
			||
			<a href="form.html">Form</a>
			||
			<a href="SPidermaAN/HOME.html">CRAPPY website</a>
            ||
            <a href="websiteevaluations.html">Website Evaluations</a>
            ||
            <a href="firstscripts.html">First Script</a>
			||
			<a href="byo_intro.html">BYO Intro</a>
			||
			<a href="calculatorattempt.html">Calculator Attempt</a>
			||
			<a href="calculator_fcc.html">Calculator FCC</a>
			||
			<a href="projectoutline.html">Project Outline</a>
		</nav>